*{
    margin: 0;
    padding: 0;
}

body{
    
    color: rgb(186, 186, 186);
}

canvas{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-image: url('./img/scenario1.png');
    background-repeat: no-repeat;
    background-position: center;
}



